name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: karxoo
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=%23e5e7eb&color_dots=%232c2c2c,%23a3ad8d,%238c9c76,%236d7a5f,%234a5d4e
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=%23e5e7eb&color_dots=%23161b22,%234a5d4e,%236d7a5f,%238c9c76,%23a3ad8d

      - name: Push Snake to Output Branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
